.event-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: white;
  max-height: 210px;
  align-items: flex-start;
  max-width: 302px;
  .title-and-icon {
    color: #222222;
    display: flex;
    align-items: center;
    padding: 2px 0px 0px ;
    margin: 0px 0px 16px;
    .title {
      font-family: "Droid Sans", "HelveticaNeue", "Helvetica Neue", Helvetica,
        Arial, sans-serif;
      margin: 2px;
      font-size: 16.25px;
    }

    .icon{
        font-size: 16.25px;
        margin: 2px;
    }
  }

  .description {
    color: #666666;
    font-family: "open sans", "helveticaneue", Helvetica, Arial;
    font-size: 13px;
    margin: 11px 0px;
  }

  .learn-more{
      font-size: 13px;
      color: #719430;
      font-family: "open sans", "helveticaneue", Helvetica, Arial;
    &:hover{
        text-decoration: underline;
    }
  }
}
