.image-card {
 display: flex;
 width: 100vw;
 height: 100vh;
 max-height: 950px;
  #image-card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  
    position: absolute;
    z-index: -1;
  }

  .text-screen{
      height: 100%;
      width: 100%;
      display: grid;

  .image-card-text{
    height: fit-content;
    width: fit-content;
    color: white;
    .title{
        font-family: "Droid Sans", "HelveticaNeue", "Helvetica Neue",
        Helvetica, Arial, sans-serif;
        margin: 0px;
        font-size: 60px;
    }
    
    .subtitle{
        font-family: "open sans", "helveticaneue", Helvetica, Arial;
        font-size: 30px;
        font-weight: lighter;
    }
  }

  .top-left {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  .top-center {

    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  .top-right {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  .middle-left {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
  }
  .middle-center {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
  }
  .middle-right {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
  }
  .bottom-left {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
  }
  .bottom-center {
    //   background-color: black;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .bottom-right {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
  }

  .buttons {
    display: flex;
  }
      
}
}
