.button{
    height: 44px;
    width: fit-content;
    border-radius: 3px;
    margin: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 16px;

    .buttonText{
        font-weight: 700;
        color: white;
        font-size: 12px;
        font-family: "open sans", "helveticaneue", Helvetica, Arial;
    }
}
