.navbar {
  position: fixed;
  top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0px;
  width: 100%;
}

.navbar .logo-menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 960px;
}

.navbar .logo-menu-container .logo-img {
  height: 100px;
  max-width: 300px;
}

.navbar .logo-menu-container .hamburger-and-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar .logo-menu-container .hamburger-and-menu .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  font-family: "open sans", "helveticaneue", Helvetica, Arial;
}

.navbar .logo-menu-container .hamburger-and-menu .menu .menu-item {
  padding: 0px 13px;
  font-size: 13px;
  font-weight: 600;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.navbar .logo-menu-container .hamburger-and-menu .menu .menu-item a {
  text-decoration: none;
}

.navbar .logo-menu-container .hamburger-and-menu .menu .sub-menu {
  list-style: none;
  padding-left: 0px;
  opacity: 0;
  visibility: hidden;
  background-color: white;
}

.navbar .logo-menu-container .hamburger-and-menu .menu .sub-menu .sub-menu-item {
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 13px;
}

.navbar .logo-menu-container .hamburger-and-menu .menu .sub-menu .sub-menu-item:hover {
  cursor: pointer;
  background-color: #f4f4f4;
}

.navbar .logo-menu-container .hamburger-and-menu .menu .sub-menu .sub-menu-item:hover a {
  color: #333333;
}

.navbar .logo-menu-container .hamburger-and-menu .menu .sub-menu .sub-menu-item a {
  color: #808080;
  font-size: 12px;
  font-weight: lighter;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px 15px;
  padding-left: 2px;
  text-decoration: none;
}

.navbar .logo-menu-container .hamburger-and-menu .menu .has-sub-menu:hover > .sub-menu {
  opacity: 1;
  visibility: visible;
}

.navbar .logo-menu-container .hamburger-and-menu .hamburger {
  opacity: 0;
  visibility: hidden;
}

.fixed .navbar {
  height: 44px;
  background-color: white;
  border: 1px solid gray;
  border-style: solid none solid none;
}

.fixed .navbar .logo-img {
  max-height: 44px;
  padding-right: 102.8px;
}

.fixed .navbar .sub-menu {
  position: fixed;
  top: 44px;
}

.fixed .navbar .menu-item a {
  color: #808080;
}

.fixed .navbar .menu-item:hover {
  border: 2px solid #719430;
  border-style: none none solid none;
  cursor: pointer;
}

.fixed .navbar .menu-item:hover > .sub-menu {
  border: 2px solid #719430;
  border-style: solid none none none;
}

.not-fixed .navbar {
  background-color: transparent;
  height: 88px;
}

.not-fixed .navbar .logo-menu-container {
  height: 100%;
}

.not-fixed .navbar .logo-menu-container .logo-img {
  max-height: 88px;
}

.not-fixed .navbar .logo-menu-container .hamburger-and-menu {
  height: 100%;
}

.not-fixed .navbar .logo-menu-container .hamburger-and-menu .menu {
  height: 100%;
}

.not-fixed .navbar .logo-menu-container .hamburger-and-menu .menu .menu-item {
  height: 88px;
}

.not-fixed .navbar .logo-menu-container .hamburger-and-menu .menu .menu-item .sub-menu {
  position: fixed;
  top: 88px;
}

.not-fixed .navbar .logo-menu-container .hamburger-and-menu .menu .menu-item .sub-menu .sub-menu-item a {
  color: #808080;
  font-size: 12px;
  font-weight: lighter;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px 15px;
  padding-left: 2px;
  text-decoration: none;
}

.not-fixed .navbar .logo-menu-container .hamburger-and-menu .menu .menu-item a {
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.not-fixed .navbar .logo-menu-container .hamburger-and-menu .menu .menu-item a:hover {
  cursor: pointer;
  border: 2px solid white;
  border-style: none none solid none;
}

.opaque .fixed .navbar,
.opaque .not-fixed .navbar {
  border: 1px solid gray;
  border-style: solid none solid none;
  background-color: white;
}

.opaque .fixed .navbar .logo-menu-container .hamburger-and-menu .menu .menu-item a,
.opaque .not-fixed .navbar .logo-menu-container .hamburger-and-menu .menu .menu-item a {
  color: #808080;
}

.opaque .fixed .navbar .logo-menu-container .hamburger-and-menu .menu .menu-item:hover,
.opaque .not-fixed .navbar .logo-menu-container .hamburger-and-menu .menu .menu-item:hover {
  border: 2px solid #719430;
  border-style: none none solid none;
}

.opaque .fixed .navbar .logo-menu-container .hamburger-and-menu .menu .menu-item:hover > .sub-menu,
.opaque .not-fixed .navbar .logo-menu-container .hamburger-and-menu .menu .menu-item:hover > .sub-menu {
  border: 2px solid #719430;
  border-style: solid none none none;
}

@media screen and (max-width: 767px) {
  .fixed .navbar,
  .not-fixed .navbar {
    height: 88px;
  }
  .fixed .navbar .logo-menu-container,
  .not-fixed .navbar .logo-menu-container {
    background-color: white;
  }
  .fixed .navbar .logo-menu-container .logo-img,
  .not-fixed .navbar .logo-menu-container .logo-img {
    max-height: 88px;
  }
  .fixed .navbar .logo-menu-container .hamburger-and-menu,
  .not-fixed .navbar .logo-menu-container .hamburger-and-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .fixed .navbar .logo-menu-container .hamburger-and-menu .hamburger,
  .not-fixed .navbar .logo-menu-container .hamburger-and-menu .hamburger {
    position: fixed;
    right: 23px;
    font-size: 2rem;
  }
  .fixed .navbar .logo-menu-container .hamburger-and-menu .is-inactive,
  .not-fixed .navbar .logo-menu-container .hamburger-and-menu .is-inactive {
    opacity: 0;
    visibility: hidden;
  }
  .fixed .navbar .logo-menu-container .hamburger-and-menu .menu,
  .not-fixed .navbar .logo-menu-container .hamburger-and-menu .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    list-style: outside;
    position: fixed;
    top: 88px;
    width: 100%;
  }
  .fixed .navbar .logo-menu-container .hamburger-and-menu .menu .menu-item,
  .not-fixed .navbar .logo-menu-container .hamburger-and-menu .menu .menu-item {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .fixed .navbar .logo-menu-container .hamburger-and-menu .menu .sub-menu,
  .not-fixed .navbar .logo-menu-container .hamburger-and-menu .menu .sub-menu {
    list-style: outside;
    padding-left: 40px;
    opacity: 1;
    visibility: visible;
    position: relative;
    top: 0px;
  }
  .fixed .navbar .logo-menu-container .hamburger-and-menu .menu .sub-menu a,
  .not-fixed .navbar .logo-menu-container .hamburger-and-menu .menu .sub-menu a {
    padding: 13px 28px;
  }
  .fixed .navbar .logo-menu-container .hamburger-and-menu .hamburger,
  .not-fixed .navbar .logo-menu-container .hamburger-and-menu .hamburger {
    opacity: 1;
    visibility: visible;
  }
}
/*# sourceMappingURL=navbar.module.css.map */