.footer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "open sans", "helveticaneue", Helvetica, Arial;
}

.footer .top-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #222222;
  height: 192px;
}

.footer .top-container .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1130px;
}

.footer .top-container .details .details-block h1 {
  font-family: "Droid Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14.3px;
  color: #919191;
}

.footer .top-container .details .details-block p {
  font-size: 13px;
  color: white;
}

.footer .bottom-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #333333;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 52px;
}

.footer .bottom-container .inner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1130px;
  padding: 0px 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer .bottom-container .inner-container .copyright-block {
  color: white;
  font-size: 11px;
}

.footer .bottom-container .inner-container .navigation-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer .bottom-container .inner-container .navigation-list .navigation-list-item {
  color: #919191;
  font-size: 11px;
}

.footer .bottom-container .inner-container .navigation-list .navigation-list-item a {
  font-size: 11px;
  color: white;
  text-decoration: none;
  padding: 0px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer .bottom-container .inner-container .navigation-list .navigation-list-item a:hover {
  color: #aaaaaa;
  text-decoration: underline;
}

.footer .bottom-container .inner-container .social-icons {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0px;
}

.footer .bottom-container .inner-container .social-icons #facebook:hover {
  background-color: #37589B;
}

.footer .bottom-container .inner-container .social-icons #google-plus:hover {
  background-color: #DE5849;
}

.footer .bottom-container .inner-container .social-icons #pinterest:hover {
  background-color: #CB2027;
}

.footer .bottom-container .inner-container .social-icons #instagram:hover {
  background-color: #A67658;
}

.footer .bottom-container .inner-container .social-icons span {
  color: #919191;
  font-size: 11px;
  padding: 7.5px 7.5px;
  border-radius: 50px;
}

.footer .bottom-container .inner-container .social-icons span:hover {
  color: white;
}

@media screen and (max-width: 767px) {
  .footer {
    width: 100vw;
    overflow-x: hidden;
  }
  .footer .top-container {
    width: 100vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding: 15px 30px;
  }
  .footer .top-container .details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .top-container .details .details-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer .bottom-container {
    height: 140px;
    width: 100vw;
  }
  .footer .bottom-container .inner-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100vw;
  }
  .footer .bottom-container .inner-container .navigation-list {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 100vw;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer .bottom-container .inner-container .navigation-list .navigation-list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
/*# sourceMappingURL=footer.module.css.map */